<% @product.reviews.reverse.each do |review| %>
  <div class="col-sm-5 col-md-6">
    <tr>
      <td><%= review.rating %></td>
      <td><%= review.description %></td>
      <td><%= link_to fa_icon('trash'), [@product, review], class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %> </td>
    </tr>
  </div>


<% end %>